header {
    text-align: center;
    padding: 10px;
    color: #fff;
    background: linear-gradient(to right, rgb(72, 136, 199), rgb(143, 62, 193));
    box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.searched-city{
    text-transform: capitalize;
}

.daily-weather {
    background: #263a85;
    color: #fff;
}

.weather-icon {
    background: #263a85;
    border-radius: 100%;
    height: 60px;
    width: auto;
}